node-red-flow.json
[
    {
        "id": "6c9ac6b03ea92298",
        "type": "tab",
        "label": "Wallet 2022",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2cc22929a47b82b3",
        "type": "ui_template",
        "z": "6c9ac6b03ea92298",
        "group": "d783cb980c3979fc",
        "name": "Node-Red Dashboard Custom CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n\n    /*Main background*/\n    body {\n        background: -webkit-linear-gradient(\n            55deg,\n            #009785 0%,\n            #245aa5 50%,\n            #b800e9 100%\n            );\n    }\n\n    /*Top bar*/\n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {\n        background-color: transparent !important;\n        color: #FFFFFF !important;\n    }\n\n\n    /*Left menu*/\n    /*Sidebar*/\n    body.nr-dashboard-theme md-sidenav {\n        color: white !important;\n        background-color: rgba(0,0,0,0) !important;\n    }\n    /*Hover selection*/\n    a.md-no-style, button.md-no-style {\n        border-radius: 10px !important;\n    }\n    /*Selected*/\n    .nr-menu-item-active div button {\n        border-right: 4px solid rgb(41 98 255) !important;\n    }\n    /*List*/\n    body.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n        color: white !important;\n        background-color: rgba(40,85,165,1) !important;\n        border-radius: 10px !important;\n    }\n\n\n    /*Groups*/\n    ui-card-panel {\n        background-color: rgba(255,255,255,0.1) !important;\n        border-radius: 10px !important;\n    }\n    .nr-dashboard-theme ui-card-panel {\n        border: none !important;\n    }\n    /*Name groups*/\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: rgba(255, 255, 255, 0.5) !important;\n    }\n\n\n    /*Bouttons*/\n    .nr-dashboard-theme .nr-dashboard-button .md-button {\n        background-color: rgba(255,255,255,.1) !important;\n    }\n    .md-button {\n        border-radius: 10px !important;\n    }\n\n\n    /*Dropdown menu*/\n    .nr-dashboard-theme md-select-menu{\n        background-color: rgba(40,85,165,1) !important;\n    }\n    .nr-dashboard-theme md-select-menu, .nr-dashboard-theme md-select-menu md-option {\n        background-color: transparent !important;\n    }\n    .nr-dashboard-theme .md-select-menu-container {\n        border-radius: 10px !important;\n        border: none !important;\n    }\n    .nr-dashboard-theme md-select-menu md-option[selected] {\n        color: white !important;\n        background-color: #1a3566 !important;\n    }\n\n    /*Template*/\n    md-card>img, md-card>md-card-header img, md-card md-card-title-media img {\n        border-radius: 10px !important;\n    }\n\n    /* Color picker text BG */\n    .nr-dashboard-theme .color-picker-input-wrapper > input {\n        color: white !important;\n        background-color: transparent !important;\n    }\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 180,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "758940814fc95710",
        "type": "mqtt in",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "topic": "wallet/info",
        "qos": "2",
        "datatype": "auto",
        "broker": "b4d003ab.d6792",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "8f0ebfa479fb8eeb"
            ]
        ]
    },
    {
        "id": "8f0ebfa479fb8eeb",
        "type": "json",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "b8a48ffc867241ee"
            ]
        ]
    },
    {
        "id": "b8a48ffc867241ee",
        "type": "change",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "owner",
                "pt": "global",
                "to": "payload.owner",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "position",
                "pt": "global",
                "to": "payload.position",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "annual_pretax_income",
                "pt": "global",
                "to": "payload.annual_pretax_income",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "month_aftertax_income",
                "pt": "global",
                "to": "payload.month_aftertax_income",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "0d3b026ea6b904e3"
            ]
        ]
    },
    {
        "id": "0d3b026ea6b904e3",
        "type": "debug",
        "z": "6c9ac6b03ea92298",
        "name": "General Info JSON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "93fc073836cddd77",
        "type": "function",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "func": "msg.payload = [\n    {\n        \"item\" : msg.payload.item9,\n        \"date\" : msg.payload.date9,\n        \"previous\" : msg.payload.previous9,\n        \"cost\" : msg.payload.cost9,\n        \"current\" : msg.payload.current9\n    },\n    {\n        \"item\" : msg.payload.item8,\n        \"date\" : msg.payload.date8,\n        \"previous\" : msg.payload.previous8,\n        \"cost\" : msg.payload.cost8,\n        \"current\" : msg.payload.current8\n    },\n    {\n        \"item\" : msg.payload.item7,\n        \"date\" : msg.payload.date7,\n        \"previous\" : msg.payload.previous7,\n        \"cost\" : msg.payload.cost7,\n        \"current\" : msg.payload.current7\n    },\n    {\n        \"item\" : msg.payload.item6,\n        \"date\" : msg.payload.date6,\n        \"previous\" : msg.payload.previous6,\n        \"cost\" : msg.payload.cost6,\n        \"current\" : msg.payload.current6\n    },\n    {\n        \"item\" : msg.payload.item5,\n        \"date\" : msg.payload.date5,\n        \"previous\" : msg.payload.previous5,\n        \"cost\" : msg.payload.cost5,\n        \"current\" : msg.payload.current5\n    },\n    {\n        \"item\" : msg.payload.item4,\n        \"date\" : msg.payload.date4,\n        \"previous\" : msg.payload.previous4,\n        \"cost\" : msg.payload.cost4,\n        \"current\" : msg.payload.current4\n    },\n    {\n        \"item\" : msg.payload.item3,\n        \"date\" : msg.payload.date3,\n        \"previous\" : msg.payload.previous3,\n        \"cost\" : msg.payload.cost3,\n        \"current\" : msg.payload.current3\n    },\n    {\n        \"item\" : msg.payload.item2,\n        \"date\" : msg.payload.date2,\n        \"previous\" : msg.payload.previous2,\n        \"cost\" : msg.payload.cost2,\n        \"current\" : msg.payload.current2\n    },\n    {\n        \"item\" : msg.payload.item1,\n        \"date\" : msg.payload.date1,\n        \"previous\" : msg.payload.previous1,\n        \"cost\" : msg.payload.cost1,\n        \"current\" : msg.payload.current1\n    },\n    {\n        \"item\" : msg.payload.item0,\n        \"date\" : msg.payload.date0,\n        \"previous\" : msg.payload.previous0,\n        \"cost\" : msg.payload.cost0,\n        \"current\" : msg.payload.current0\n    }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 380,
        "wires": [
            [
                "7a7b994c366c9da5"
            ]
        ]
    },
    {
        "id": "7a7b994c366c9da5",
        "type": "ui_table",
        "z": "6c9ac6b03ea92298",
        "group": "13f0c19ef1f6b182",
        "name": "",
        "order": 1,
        "width": 13,
        "height": 5,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 970,
        "y": 380,
        "wires": []
    },
    {
        "id": "aa98146602184252",
        "type": "ui_text",
        "z": "6c9ac6b03ea92298",
        "group": "75762b56c58ee5aa",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Owner Name",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "0509f92e5d9c254e",
        "type": "ui_text",
        "z": "6c9ac6b03ea92298",
        "group": "75762b56c58ee5aa",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Pre-Tax Annual Income",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "d6326801c652da4a",
        "type": "ui_text",
        "z": "6c9ac6b03ea92298",
        "group": "75762b56c58ee5aa",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Owner Position",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 260,
        "wires": []
    },
    {
        "id": "21e90f79390e488c",
        "type": "inject",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "owner",
        "payloadType": "global",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "aa98146602184252"
            ]
        ]
    },
    {
        "id": "dc34f12733a9053b",
        "type": "inject",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "position",
        "payloadType": "global",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "d6326801c652da4a"
            ]
        ]
    },
    {
        "id": "ccd9cc71c81368b8",
        "type": "inject",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "annual_pretax_income",
        "payloadType": "global",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "0509f92e5d9c254e"
            ]
        ]
    },
    {
        "id": "4d503c15b0b38d07",
        "type": "mqtt in",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "topic": "wallet/monthly_expense",
        "qos": "2",
        "datatype": "auto",
        "broker": "b4d003ab.d6792",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "c76ea6dd24cefd35"
            ]
        ]
    },
    {
        "id": "c76ea6dd24cefd35",
        "type": "json",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 380,
        "wires": [
            [
                "e375becaf798991c"
            ]
        ]
    },
    {
        "id": "e375becaf798991c",
        "type": "change",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "item0",
                "pt": "global",
                "to": "payload.item0",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date0",
                "pt": "global",
                "to": "payload.date0",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "previous0",
                "pt": "global",
                "to": "payload.previous0",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cost0",
                "pt": "global",
                "to": "payload.cost0",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "current0",
                "pt": "global",
                "to": "payload.current0",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "item1",
                "pt": "global",
                "to": "payload.item1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date1",
                "pt": "global",
                "to": "payload.date1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "previous1",
                "pt": "global",
                "to": "payload.previous1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cost1",
                "pt": "global",
                "to": "payload.cost1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "current1",
                "pt": "global",
                "to": "payload.current1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "item2",
                "pt": "global",
                "to": "payload.item2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date2",
                "pt": "global",
                "to": "payload.date2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "previous2",
                "pt": "global",
                "to": "payload.previous2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cost2",
                "pt": "global",
                "to": "payload.cost2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "current2",
                "pt": "global",
                "to": "payload.current2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "item3",
                "pt": "global",
                "to": "payload.item3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date3",
                "pt": "global",
                "to": "payload.date3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "previous3",
                "pt": "global",
                "to": "payload.previous3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cost3",
                "pt": "global",
                "to": "payload.cost3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "current3",
                "pt": "global",
                "to": "payload.current3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "item4",
                "pt": "global",
                "to": "payload.item4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date4",
                "pt": "global",
                "to": "payload.date4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "previous4",
                "pt": "global",
                "to": "payload.previous4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cost4",
                "pt": "global",
                "to": "payload.cost4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "current4",
                "pt": "global",
                "to": "payload.current4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "item5",
                "pt": "global",
                "to": "payload.item5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date5",
                "pt": "global",
                "to": "payload.date5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "previous5",
                "pt": "global",
                "to": "payload.previous5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cost5",
                "pt": "global",
                "to": "payload.cost5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "current5",
                "pt": "global",
                "to": "payload.current5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "item6",
                "pt": "global",
                "to": "payload.item6",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date6",
                "pt": "global",
                "to": "payload.date6",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "previous6",
                "pt": "global",
                "to": "payload.previous6",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cost6",
                "pt": "global",
                "to": "payload.cost6",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "current6",
                "pt": "global",
                "to": "payload.current6",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "item7",
                "pt": "global",
                "to": "payload.item7",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date7",
                "pt": "global",
                "to": "payload.date7",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "previous7",
                "pt": "global",
                "to": "payload.previous7",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cost7",
                "pt": "global",
                "to": "payload.cost7",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "current7",
                "pt": "global",
                "to": "payload.current7",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "item8",
                "pt": "global",
                "to": "payload.item8",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date8",
                "pt": "global",
                "to": "payload.date8",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "previous8",
                "pt": "global",
                "to": "payload.previous8",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cost8",
                "pt": "global",
                "to": "payload.cost8",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "current8",
                "pt": "global",
                "to": "payload.current8",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "item9",
                "pt": "global",
                "to": "payload.item9",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date9",
                "pt": "global",
                "to": "payload.date9",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "previous9",
                "pt": "global",
                "to": "payload.previous9",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cost9",
                "pt": "global",
                "to": "payload.cost9",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "current9",
                "pt": "global",
                "to": "payload.current9",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 380,
        "wires": [
            [
                "93fc073836cddd77",
                "a8d06bf6f037f3b4"
            ]
        ]
    },
    {
        "id": "a8d06bf6f037f3b4",
        "type": "debug",
        "z": "6c9ac6b03ea92298",
        "name": "Monthly Expense JSON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "0319d33897acf45c",
        "type": "mqtt in",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "topic": "wallet/monthly_remain",
        "qos": "2",
        "datatype": "auto",
        "broker": "b4d003ab.d6792",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "4f44681dfeb65a70"
            ]
        ]
    },
    {
        "id": "81b410ec6a654912",
        "type": "change",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "monthly_remain",
                "pt": "global",
                "to": "payload.monthly_remain",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "annual_remain",
                "pt": "global",
                "to": "payload.annual_remain",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "4f44681dfeb65a70",
        "type": "json",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 460,
        "wires": [
            [
                "81b410ec6a654912"
            ]
        ]
    },
    {
        "id": "dae348de96058857",
        "type": "ui_gauge",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "group": "a7e32e638d931c6f",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Monthly Remain",
        "label": "CAD",
        "format": "{{value}}",
        "min": 0,
        "max": "4000",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 460,
        "y": 540,
        "wires": []
    },
    {
        "id": "4bc2867d2a4d7958",
        "type": "inject",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "monthly_remain",
        "payloadType": "global",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "dae348de96058857"
            ]
        ]
    },
    {
        "id": "56249fa3777351fa",
        "type": "ui_gauge",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "group": "a7e32e638d931c6f",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Yearly Saving",
        "label": "CAD",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 460,
        "y": 600,
        "wires": []
    },
    {
        "id": "d5546a4c5e3d0104",
        "type": "inject",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "annual_remain",
        "payloadType": "global",
        "x": 160,
        "y": 600,
        "wires": [
            [
                "56249fa3777351fa"
            ]
        ]
    },
    {
        "id": "6082d0a09f9f5ea5",
        "type": "inject",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "month_aftertax_income",
        "payloadType": "global",
        "x": 730,
        "y": 200,
        "wires": [
            [
                "2b8393a5bbd387d5"
            ]
        ]
    },
    {
        "id": "2b8393a5bbd387d5",
        "type": "ui_text",
        "z": "6c9ac6b03ea92298",
        "group": "75762b56c58ee5aa",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Monthly After-Tax",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1010,
        "y": 200,
        "wires": []
    },
    {
        "id": "3cd3174af9c82e7c",
        "type": "mqtt in",
        "z": "6c9ac6b03ea92298",
        "name": "",
        "topic": "wallet/total_assets",
        "qos": "2",
        "datatype": "auto",
        "broker": "b4d003ab.d6792",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "d783cb980c3979fc",
        "type": "ui_group",
        "name": "Custom Theme",
        "tab": "0449b3b1fea99d52",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b4d003ab.d6792",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "13f0c19ef1f6b182",
        "type": "ui_group",
        "name": "Monthly Expenses",
        "tab": "21d16cf70a7ca2b4",
        "order": 3,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "75762b56c58ee5aa",
        "type": "ui_group",
        "name": "General Info",
        "tab": "21d16cf70a7ca2b4",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7e32e638d931c6f",
        "type": "ui_group",
        "name": "Money Flow",
        "tab": "21d16cf70a7ca2b4",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0449b3b1fea99d52",
        "type": "ui_tab",
        "name": "Theme",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "21d16cf70a7ca2b4",
        "type": "ui_tab",
        "name": "Wallet 2022",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]